html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    min-height: 100vh;
    font-family: Poppins;
    margin: 0;
    padding-top: 40px;
    padding-left: 120px;
    max-width: 1440px;

}



header {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    font-family: 'Poppins-Light';
    color: hsl(0, 3%, 60%);
    font-weight: 800;


}

.features {
    padding-left: 30px;
    padding-right: 30px;
}

.resour {
    padding-left: 30px;
}

header img {
    width: 130px;
    height: 33px;
}

.login {
    margin-left: auto;
    margin-right: 40px;
}

.sign {
    margin-right: 120px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: hsl(180, 66%, 49%);
    color: white;
    border-radius: 20px;
}


.contenedormain {
    display: flex;
    flex-direction: row;


}

.contenedormain2 {
    margin-top: 120px;
    box-sizing: content-box;
    flex-direction: column;
}

.contenedormaintitulo {
    font-family: 'Poppins-SemiBold';
    font-size: 75px;
    font-weight: 700;





}

.contenedormaintext {
    font-family: 'Poppins-Light';
    font-size: 22px;
    color: hsl(0, 3%, 60%);
    font-weight: 500;
    line-height: 1.5;


}

.contenedormainboton {

    text-align: center;
    font-size: 18px;
    font-weight: lighter;
    letter-spacing: 1.5px;
    color: white;
    background: hsl(180, 66%, 49%);
    border-radius: 22px;

    padding: 12px;



}

.workimg {
    box-sizing: content-box;
    padding-top: 50px;

}


footer {
    display: flex;

}
