html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    min-height: 100vh;
    font-family: Poppins;
    margin: 0;
    padding: 0;
    
}

.contenedor{
    max-width: 1440px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    color: hsl(257, 7%, 63%);
    font-weight: bold;
    padding-left: 120px;
    padding-top: 50px;

}

.features {
    padding-left: 50px;
    padding-right: 30px;
}

.resour {
    padding-left: 30px;
}

header img {
    width: 130px;
    height: 33px;
}

.login {
    margin-left: auto;
    margin-right: 70px;
}

.sign {
    margin-right: 120px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: aqua;
    border-radius: 15px;
}


.contenedormain {
    display: flex;
    margin-top: 80px;
    margin-bottom: 80px;
    padding-left: 120px;


}

.contenedormaintitulo {
    font-size: 85px;
    font-weight: 700;
}

.contenedormaintext {
    font-size: 18px;
    color: hsl(257, 7%, 63%);
}

.contenedormainboton {
    text-align: center;
    font-size: 18px;
    color: rgb(190, 57, 57);
    
}

.workimg {
    padding-left: 100px;
    flex: 2;
}


footer {
    display: flex;
}
