@media only screen and (min-width: 768px) and (max-width: 1024px) {

    html {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        min-height: 100vh;
        font-family: Poppins;
        margin: 0;
        padding-top: 40px;
    }

    header {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        font-size: 14px;
        font-family: "Poppins-Light";
        color: hsl(0, 3%, 60%);
        font-weight: 800;
        padding-left: 80px;
        padding-right: 80px;
    }

    #nav {
        display: none;
    }


    .shortly {
        width: 80px;
        height: auto;
    }

    .features {
        margin-left: 15px;
        margin-right: 10px;
        transition: background-color 0.3s;
    }

    .pricing {
        margin-right: 5px;
        transition: background-color 0.3s;
    }

    .resour {
        margin-left: 5px;
        transition: background-color 0.3s;
    }

    .login {
        margin-left: auto;
        margin-right: 20px;
        transition: background-color 0.3s;
    }

    .sign {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        background: hsl(180, 66%, 49%);
        color: white;
        border-radius: 20px;
        transition: background-color 0.3s;
    }


    .contenedormain {
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;
        height: 350px;
        padding-left: 80px;
        padding-right: 80px;
    }

    .contenedormain2 {
        display: flex;
        flex-direction: column;
        min-width: 50%;
        margin-top: 80px;
    }

    .contenedormaintitulo {
        font-family: "Poppins-SemiBold";
        font-size: 50px;
        font-weight: 600;
    }

    .contenedormaintext {
        font-family: "Poppins-Light";
        font-size: 17px;
        font-weight: 300;
        line-height: 1.5;
        color: hsl(0, 3%, 60%);
    }

    .contenedormainboton {
        font-size: 16px;
        font-weight: lighter;
        text-align: center;
        color: white;
        background: hsl(180, 66%, 49%);
        border-radius: 30px;
        padding: 8px;
        margin-top: 25px;
        margin-right: 305px;
    }

    .workimg {
        margin-top: 80px;
        transform: scale(0.5);
        transform-origin: top left;
    }

    .workimgmobile {
        display: none;
    }

    .url {
        min-height: 80px;
        width: 863px;
        max-width: 863px;
        margin-right: 80px;
        margin-left: 80px;
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        align-items: center;
        background-image: url(../imgs/bg-boost-desktop.svg);
        background-color: hsl(257, 27%, 26%);
        border-radius: 7px;
        position: absolute;
    }

    .link {
        margin-left: 35px;
        padding-top: 8px;
        padding-bottom: 8px;
        min-width: 630px;
        text-align: start;
        justify-content: center;
        align-items: center;
        font-family: "Poppins-Light";
        font-size: 18px;
        font-weight: 500;
        line-height: 1.5;
        color: hsl(0, 3%, 60%);
        background-color: white;
        border-radius: 7px;
    }

    .short {
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-right: 15px;
        width: 110px;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: 20px;
        font-size: 18px;
        font-weight: 300;
        color: white;
        background: hsl(180, 66%, 49%);
        border-radius: 10px;
    }

    .contenedoradv {
        margin-top: 80px;
        padding-top: 140px;

        padding-bottom: 40px;
        background-color: hsl(210, 100%, 95%);
    }

    .adv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100vw;
    }

    .advtitle {
        font-family: "Poppins-Bold";
        font-size: 35px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .advtext {
        font-family: "Poppins-Light";
        font-size: 18px;
        font-weight: 200;
        color: hsl(0, 3%, 60%);
        margin-bottom: 60px;
    }

    .cuadros {
        display: flex;
        flex-direction: column;
        margin-inline-start: 80px;
        margin-inline-end: 80px;
    }


    .iconb {
        width: 4%;
        background-color: hsl(257, 27%, 26%);
        border-radius: 50%;
        padding: 15px;
        overflow: visible;
        position: absolute;
        margin-left: 117px;
    }



    .brand {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        text-align: start;
        background-color: white;
        margin-top: 35px;
        width: 300px;
        padding-top: 50px;
        padding-bottom: 30px;
        padding-left: 20px;
    }

    .line1 {
        background: hsl(180, 66%, 49%);
        color: hsl(180, 66%, 49%);
        height: 30px;
        width: 8px;
        font-size: 1px;
        text-align: center;
        margin-left: 295px;
    }

    .btitle {
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: bold;
    }

    .btext {
        font-size: 18px;
        font-weight: lighter;
        color: hsl(0, 3%, 60%);
    }

    .icond {
        width: 4%;
        background-color: hsl(257, 27%, 26%);
        border-radius: 50%;
        padding: 15px;
        margin-left: 405px;
        margin-top: 237px;
        position: absolute;
    }

    .detailed {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        text-align: start;
        background-color: white;
        margin-inline-start: 280px;
        width: 300px;
        padding-top: 50px;
        padding-bottom: 30px;
        padding-left: 20px;
    }

    .line2 {
        background: hsl(180, 66%, 49%);
        color: hsl(180, 66%, 49%);
        height: 30px;
        width: 8px;
        font-size: 1px;
        text-align: center;
        margin-left: 575px;
    }

    .iconf {
        width: 4%;
        background-color: hsl(257, 27%, 26%);
        border-radius: 50%;
        padding: 15px;
        margin-top: 477px;
        margin-left: 675px;
        position: absolute;
    }

    .dtitle {
        font-size: 20px;
        font-weight: bold;
    }

    .dtext {
        font-size: 18px;
        font-weight: lighter;
        color: hsl(0, 3%, 60%);
        margin-top: 20px;
    }

    .fully {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        text-align: start;
        background-color: white;
        width: 300px;
        margin-inline-start: 550px;
        padding-top: 50px;
        padding-bottom: 30px;
        padding-left: 20px;

    }

    .ftitle {
        font-size: 20px;
        font-weight: bold;
    }

    .ftext {
        font-size: 18px;
        font-weight: lighter;
        color: hsl(0, 3%, 60%);
        margin-top: 20px;
    }

    .boost {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-image: url(../imgs/bg-boost-desktop.svg);
        background-color: hsl(257, 27%, 26%);
        justify-content: center;
        align-content: center;
        align-items: center;
        padding-bottom: 20px;
    }

    .boosttext {
        color: white;
        font-size: 35px;
        font-weight: 500;
        font-style: bold;
        padding-top: 45px;
        padding-bottom: 20px;
    }

    .gtext {
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 1px;
        text-align: center;
        color: white;
        background: hsl(180, 66%, 49%);
        border-radius: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 35px;
        padding-right: 35px;
        margin-bottom: 20px;
    }

    footer {
        display: flex;
        background-color: black;
        padding-top: 50px;
        padding-left: 120px;
        height: 200px;
        font-size: 15px;
    }

    .bshort {
        color: white;
        font-size: 30px;
        margin-right: 140px;
    }

    .fofe {
        padding-top: 10px;
        list-style: none;
        margin-right: 70px;
    }


    .fofetitle {
        color: white;
        margin-bottom: 20px;

    }

    .fofetitle:hover {
        color: hsl(180, 66%, 49%);
    }

    .fofetext {
        display: flex;
        flex-direction: column;
        text-align: left;
        color: hsl(0, 3%, 60%);
        gap: 10px;
    }

    .ft1:hover {
        color: hsl(180, 66%, 49%);
    }

    .ft2:hover {
        color: hsl(180, 66%, 49%);
    }

    .ft3:hover {
        color: hsl(180, 66%, 49%);
    }

    .fore {
        padding-top: 10px;
        list-style: none;
        margin-right: 70px;

    }

    .foretitle {
        color: white;
        margin-bottom: 20px;
        cursor: pointer;
    }

    .foretitle:hover {
        color: hsl(180, 66%, 49%);
    }

    .foretext {
        display: flex;
        flex-direction: column;
        text-align: left;
        color: hsl(0, 3%, 60%);
        gap: 10px;
    }

    .fr1:hover {
        color: hsl(180, 66%, 49%);
    }

    .fr2:hover {
        color: hsl(180, 66%, 49%);
    }

    .fr3:hover {
        color: hsl(180, 66%, 49%);
    }

    .foco {
        padding-top: 10px;
        list-style: none;
        margin-right: 70px;

    }

    .focotitle {
        color: white;
        margin-bottom: 20px;
    }

    .focotitle:hover {
        cursor: pointer;
        color: hsl(180, 66%, 49%);
    }

    .focotext {
        display: flex;
        flex-direction: column;
        text-align: left;
        color: hsl(0, 3%, 60%);
        gap: 10px;
    }



    .fc1:hover {
        color: hsl(180, 66%, 49%);
    }

    .fc2:hover {
        color: hsl(180, 66%, 49%);
    }

    .fc3:hover {
        color: hsl(180, 66%, 49%);
    }

    .fc4:hover {
        color: hsl(180, 66%, 49%);
    }

    .icons {
        display: flex;
        flex-direction: row;
        margin-top: 5px;
        width: 22px;
        height: 22px;
        gap: 20px;
    }


    .fb:hover {
        background-color: hsl(180, 66%, 49%);
    }

    .tw:hover {
        background-color: hsl(180, 66%, 49%);
    }

    .pi:hover {
        background-color: hsl(180, 66%, 49%);
    }

    .in:hover {
        background-color: hsl(180, 66%, 49%);
    }
}
